(function (angular) {

    if (!angular) {
        throw new Error('<%= project.name %> requires AngularJS');
    }

   'use strict'

   <%= project.contents %>

   queryFilter.version = '<%= project.version %>';

})(window.angular);